.wrap {
    padding-top: 2rem;
    text-align: center;
    margin: 0 auto;
}
.webpack {
    text-align: center;
}
/*.webpack-fon {*/
/*    background-image: url("../assets/webpack-img.png");*/
/*    background-size: cover;*/
/*    background-position: 50% 50%;*/
/*    margin: 0 auto;*/
/*    height: 400px;*/
/*}*/