@import "~normalize.css";
@import "font-roboto.css";

body {
    font-family: 'Roboto', sans-serif;
}

.wrap {
    padding-top: 2rem;
    text-align: center;
    margin: 0 auto;
}
.webpack {
    text-align: center;
}